@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-main: hsl(219, 26%, 22%);
    --bg-soft: hsl(220, 21%, 28%);
    --bg-dark: hsl(219, 28%, 18%);
    --text-main: hsl(0, 0%, 100%);
    --text-soft: hsl(0, 0%, 87%);
    --text-dark: hsl(219, 26%, 22%);
  }

  * {
    @apply transition-colors duration-500 ease-in-out;
  }
}

.theme-black {
  --bg-main: hsl(219, 26%, 22%);
  --bg-soft: hsl(220, 21%, 28%);
  --bg-dark: hsl(219, 28%, 18%);
  --text-main: hsl(0, 0%, 100%);
  --text-soft: hsl(0, 0%, 87%);
  --text-dark: hsl(219, 26%, 22%);
}

.theme-white {
  --bg-main: hsl(0, 0%, 100%);
  --bg-soft: hsl(0, 0%, 87%);
  --bg-dark: hsl(219, 26%, 22%);
  --text-main: hsl(219, 26%, 22%);
  --text-soft: hsl(220, 21%, 28%);
  --text-dark: hsl(219, 28%, 18%);
}
