.active {
  color: rgb(0, 255, 136);
  text-shadow:
    1px 1px 0 white,
    -1px -1px 0 white,
    -1px 1px 0 white,
    1px -1px 0 white,
    0 0 1px rgb(0, 255, 136);
}

.notActive {
  color: white;
  text-shadow:
    1px 1px 0 black,
    -1px -1px 0 black,
    -1px 1px 0 black,
    1px -1px 0 black,
    0 0 1px white;
}
